<div id="cover-photo" class="cover-photo wviewvert" style="background-image: url(https://s.yimg.com/pw/images/coverphoto04_h.jpg.v2); top: -35px;">

  <img id="profile-pic"
    src="<%= profilePhoto.url %>">

  <h1 id="profile-name" class="profile">
    <%= user.escape('fname') %> <%= user.escape('lname') %>
  </h1>
  <h4 id="profile-username"><%= user.escape('username')%></h4>

</div>



<div id="profile-photostream">
  <% _(photos).each(function (photo) { %>
    <img src="<%= photo.url %>" data-photo-id="<%= photo.id %>">
  <% }) %>
</div>