<div id="cover-photo">

  <img id="profile-pic"
    src="<%= profilePhoto.url %>" data-photo-id="<%= profilePhoto.id %>">

  <h1 id="profile-name" class="profile">
    <%= user.escape('fname') %> <%= user.escape('lname') %>
  </h1>
  <h4 id="profile-username"><%= user.escape('username')%></h4>

</div>



<nav class="navbar navbar-default" id="profile-navbar">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      
      <li class="profile-nav-left">
        <a href="#photostream">Photostream</a>
      </li>

      <li class="profile-nav-left">
        <a href="#albums">Albums</a>
      </li>

      <li class="profile-nav-left">
        <a href="#photos/favorites">Favorites</a>
      </li>

    </ul>

    <div class="navbar-form navbar-right">
    </div>

  </div>
</nav>