<div class="container auth-page">
  <div class="row auth-row">
    <div class='col-md-offset-5'>

      <h1>Sign Up</h1>

      <div class="row">
        <form role="form" class="col-md-3"
          action="<%= users_url %>" method="POST">
          <%= auth_token_input %>
          <div class="form-group">
            <label>
              Username<br>
              <input id="username" type="text" class="form-control" name="user[username]">
            </label>
          </div>
          <div class="form-group">
            <label>
              Password<br>
              <input id="password" class="form-control" type="password" name="user[password]">
            </label>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Sign Up">
          </div>
          <a class="link-other-login" href="<%= new_session_url %>">Back to Login</a>
        </form>
      </div>

      <div class="row">
        <form role="form"
          class="col-md-3"
          action="<%= session_url %>"
          method="post">
          <%= auth_token_input %>
          <input type="hidden"
            name="guest"
            value="true">
          <div class="form-group">
            <input type="submit"
              class="btn btn-lg btn-primary"
              value="Use Guest Account">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>